
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
  color: #333; /* Example color - adjust as needed */
  margin: 40px 0; /* Example margin - adjust as needed */
  text-transform: uppercase; /* Example transformation - adjust as needed */
}


body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.slick-slide img {
  display: block; /* Ensures images are block-level elements */
  margin: 0 auto; /* Center images if they are smaller than the slide */
  max-width: 100%; /* Ensures images do not exceed the slide's width */
  height: auto; /* Maintains aspect ratio */
}



